body{
    padding: 0;
    margin: 0;
    background: #0c0219;
}
.loading{
    position: absolute;
    color: aliceblue;
    font-size: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: underline;
    text-decoration-color: aqua;
    overflow: hidden;
    
}
i::before{
    position: absolute;
    content: attr(data);
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 100%;
    background: rgba(255,100,255,0.05);
}
.loading::first-letter{
   color: aquamarine;
    font-style: italic;
}
span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(to right,#0c002b,#1779ff);
    animation: animate 10s linear infinite;
    animation-delay: 5s;
  
    

}
@keyframes animate{
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(100%);
    }
}






